<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>家賃推定アプリ</title>

    </head>
    <body>
        <center>
            
        
        <!--ロゴ画像-->
        <div>
            <img src="image/logo.png" alt="ロゴ画像" width="400"
        </div>
       
       <form action="#" method="post">
       <p class="lead"> 家賃入力(万円):<input type="number" value="0"></p>
       <p><input type="submit" value="送信"></p>
    </center>
    </body>
</html>